.form-book-container {
    width: 100%;
    max-width: 400px;
    margin: 30px auto 0 auto;
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 10px;
}


.form-group {
    display: flex;
    flex-direction: column;
    margin-bottom: 15px;
}

.form-group input {
    padding: 5px;
}

.form-checkbox {
    display: flex;
    gap: 1rem;
    margin-bottom: 15px;
}

.form-actions {
    display: flex;
    justify-content: center;
    gap: 2rem;
}